body{
    position: relative;
    background: url("https://previews.123rf.com/images/vanillamilk/vanillamilk1804/vanillamilk180400068/100213715-abstract-handmade-seamless-pattern-background-childish-handcrafted-wallpaper-for-design-card-baby.jpg");
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    margin:0px;
}
.btn1
{
    display: flex;
    align-items: center;
    justify-content: center;
    width:80px;
    height:40px;
    border-radius: 50px;
    background-color: #ffafcc;
    border:1px solid black;
    cursor: pointer;
}
td {
      transition: border 0.3s ease;
    }
    .active-cell {
      border: 3px solid green !important;
    }
    .fruit-cell {
      background-image: url('https://img.icons8.com/emoji/48/banana-emoji.png');
      background-size: 40px 40px;
      background-repeat: no-repeat;
      background-position: center;
    }